// Font and Line Height
$global-font-family: 'VT323', monospace;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Color of the background
$global-background-color-dark: #251f2d;

// Color of the text
$global-font-color-dark: #ffffff;

// Color of the secondary text
$global-font-secondary-color-dark: #ffffff;

// Color of the border
$global-border-color-dark: #ffffff;

// Color of the header background
$header-background-color-dark: #0a0a0a;

// Color of the link
$global-link-color-dark: #bd93f9;

// Color of the hover link
$global-link-hover-color-dark: #f1fa8c;

// Color of the single link
$single-link-color-dark: #ff79c6;

// Color of the hover single link
$single-link-hover-color-dark: #f1fa8c;

// Color of the link in pagination
$pagination-link-color-dark: #ff79c6;

// Color of the blockquote
$blockquote-color-dark: #f8f8f2;

// ========== Tag Cloud ========== //
// Color range of tag cloud
$tag-cloud-start-dark: #ff79c6;
$tag-cloud-end-dark: #ff79c6;


// ========== Code ========== //
// Color of the code
$code-color-dark: #ffffff;

// Color of the code background
$code-background-color-dark: #282a36;

$code-error-color: #dc3545;

// Color of the hightlight code
$code-hightlight-color-dark: rgba(174, 124, 20, 0.15);

$code-info-color-dark: #50fa7b;

// Font size of the code
$code-font-size: 0.900rem;

// Font family of the code
$code-font-family: 'Fira Code', monospace;


// Font style of the header title
$header-title-font-size: 1.4rem;